*, 
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f5f5f5;
}

.header {
  background: #bfbfbf;
  margin-bottom: 20px;
}

.title { 
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.lable {
  font-size: 20px;
}

#root {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

#search {
  width: 100%;
  padding: 10px;
  margin: 20px 0;

  border: none;
  border: 2px solid royalblue;
  border-radius: 5px;
  outline: none;
}
#search:focus {
  border: 2px solid green;
}
